force-app/main/default/flows/Account_Rating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Rating_is_Blank</name>
        <label>Rating is Blank</label>
        <locationX>1067</locationX>
        <locationY>307</locationY>
        <customErrorMessages>
            <errorMessage>{!Account_Rating_Cold}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Rating_check</name>
        <label>Rating check</label>
        <locationX>642</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>Second Condition</defaultConnectorLabel>
        <rules>
            <name>Account_Rating_Cold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Description</targetReference>
            </connector>
            <label>Account Rating Cold</label>
        </rules>
        <rules>
            <name>Account_Rating_Warm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Desciption</targetReference>
            </connector>
            <label>Account Rating Warm</label>
        </rules>
        <rules>
            <name>Account_Rating_Hot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Desciption_Hot</targetReference>
            </connector>
            <label>Account Rating Hot</label>
        </rules>
        <rules>
            <name>Account_Rating_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rating_is_Blank</targetReference>
            </connector>
            <label>Account Rating Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Rating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Desciption</name>
        <label>Update Account Desciption</label>
        <locationX>618</locationX>
        <locationY>517</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Rating</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Desciption_Hot</name>
        <label>Update Account Desciption Hot</label>
        <locationX>868</locationX>
        <locationY>631</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Rating</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Description</name>
        <label>Update Account Description</label>
        <locationX>326</locationX>
        <locationY>529</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Rating</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>522</locationX>
        <locationY>22</locationY>
        <connector>
            <targetReference>Rating_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rating</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
