force-app/main/default/flows/account_details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>abc</name>
        <label>abc</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>listAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_test</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prefix_name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_test.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_test</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>account_details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>account_details</label>
    <loops>
        <name>Loop_test</name>
        <label>Loop_test</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>account_details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>abc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatea</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>account_details</name>
        <label>account_details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_test</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updatea</name>
        <label>update</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <inputReference>listAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>account_details</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>listAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>prefix_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Mr.</stringValue>
        </value>
    </variables>
</Flow>
