force-app/main/default/flows/Monthly_Training_Check_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Training_Reminder</name>
        <label>Send Training Reminder</label>
        <locationX>132</locationX>
        <locationY>350</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Last_Month_s_Training_Sessions.Trainer_Name__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Training Reminder: No Sessions Last Month</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Training_Session_Availability</name>
        <label>Check Training Session Availability.</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Training_Held</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Month_s_Training_Sessions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Training Held</label>
        </rules>
        <rules>
            <name>No_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Month_s_Training_Sessions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Training_Reminder</targetReference>
            </connector>
            <label>No Training</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()), 1)</expression>
    </formulas>
    <formulas>
        <name>LastMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()) - 1, 1)</expression>
    </formulas>
    <interviewLabel>Monthly_Training_Check_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monthly_Training_Check_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Last_Month_s_Training_Sessions</name>
        <label>Get Last Month&apos;s Training Sessions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Training_Session_Availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>LastMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Training_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>CurrentMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Training_Sessions__c</object>
        <sortField>Training_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Month_s_Training_Sessions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi ,&amp;nbsp;&amp;nbsp;{!Get_Last_Month_s_Training_Sessions.Trainer_Name__c}&lt;/p&gt;&lt;p&gt;No training session was conducted last month.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please schedule a session as soon as possible to meet compliance.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Thanks,&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Training Team&lt;/p&gt;</text>
    </textTemplates>
</Flow>
