force-app/main/default/flows/Sum_of_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>opflow</name>
        <label>opflow</label>
        <locationX>947</locationX>
        <locationY>363</locationY>
        <actionName>Opportunity.Opportunity_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>sumAdd</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Num123</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>finally</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Email_Alert</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>accountId</name>
        <label>accountId</label>
        <locationX>380</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>accId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_opp_related_To_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Num123</name>
        <label>Num123</label>
        <locationX>798</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>num</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CHECK.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sumAdd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sumAdd</name>
        <label>sumAdd</label>
        <locationX>604</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>sum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CHECK.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CHECK</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Sum of Amout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sum of Amount</label>
    <loops>
        <name>CHECK</name>
        <label>CHECK</label>
        <locationX>638</locationX>
        <locationY>238</locationY>
        <collectionReference>get_opp_related_To_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Num123</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>finally</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_opp_related_To_Account</name>
        <label>get opp related To Account</label>
        <locationX>500</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CHECK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>finally</name>
        <label>finally</label>
        <locationX>438</locationX>
        <locationY>497</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sum_Of_Amount__c</field>
            <value>
                <elementReference>sum</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>112</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>accountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>num</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
